services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ./app:/app/app
      - ./biased:/app/biased
    environment:
      - FLASK_ENV=development
      - PROJECT_NAME={{PROJECT_NAME}}
    restart: unless-stopped
